body {
  background:#020814;
  color:white;
  font-family:Arial;
  padding:20px;
}

.top-bar {
  display:flex;
  justify-content:space-between;
  border-bottom:1px solid #0ff;
}

.dashboard {
  display:grid;
  gap:20px;
}

.card {
  background:#0b1d3a;
  padding:20px;
  border-radius:10px;
}

.btn {
  display:inline-block;
  padding:10px 20px;
  background:#0ff;
  color:black;
  text-decoration:none;
  border-radius:15px;
}

.outline {
  background:transparent;
  color:#0ff;
  border:1px solid #0ff;
}

.progress-bar {
  background:#333;
  height:8px;
}

.progress {
  background:#0ff;
  height:100%;
}
