body {
  background:#050b1a;
  color:white;
  font-family:Arial;
  text-align:center;
}

.hero {
  padding:80px 20px;
}

.cta {
  display:inline-block;
  padding:12px 25px;
  background:#00ffff;
  color:black;
  text-decoration:none;
  border-radius:20px;
}
